.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
*.pyc
build/
dist/
htmlcov/
reports/
coverage.xml
omega_native.dll
*.user
*.VC.db
*.vcxproj.user
*.spec.bak
*.log
.DS_Store
Thumbs.db
*.iso
*.exe
